<form *ngIf="currentRoute === '/admin'">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="keg-brand">Brand</label>
        <input class="form-control" name="keg-brand" #brand>
      </div>
      <div class="form-group">
        <label for="keg-name">Name</label>
        <input class="form-control" name="keg-name" #name>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="keg-price">Price</label>
        <input class="form-control" name="keg-price" #price>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="keg-alcohol-content">Alcohol Content</label>
        <input class="form-control" name="keg-alcohol-content" #content>
      </div>
    </div>
  </div>
  <a class="btn btn-default" (click)="save(brand, name, price, content)" routerLink="">Submit</a>
</form>

<form *ngIf="currentRoute.match('/keg/*')">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="keg-brand">Brand</label>
        <input class="form-control" name="keg-brand" [(ngModel)]="keg.brand">
      </div>
      <div class="form-group">
        <label for="keg-name">Name</label>
        <input class="form-control" name="keg-name" [(ngModel)]="keg.name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="keg-price">Price</label>
        <input class="form-control" name="keg-price" [(ngModel)]="keg.price">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="keg-alcohol-content">Alcohol Content</label>
        <input class="form-control" name="keg-alcohol-content" [(ngModel)]="keg.alcoholContent">
      </div>
    </div>
  </div>
  <a class="btn btn-default" (click)="update(keg)" href="/admin">Submit</a>
  <a class="btn btn-danger" (click)="delete(keg)" href="/admin">Delete</a>
</form>
