.keg {
  background-color: #eee;
  padding: 20px;
  margin: 20px 0 20px 10px;
  display: inline-block;
  width: 45%;
  min-height: 250px;
  overflow: hidden;
}

.keg h1, h2, h3 {
  margin: 0;
}

.keg .btn {
  margin-right: 10px;
}
