.keg {
  background-color: #eee;
  padding: 20px;
  margin: 20px 5px 20px 5px;
  display: inline-block;
  width: 49%;
  min-height: 250px;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.keg h1, h2, h3 {
  margin: 0;
  color: #333;
}

.keg .btn {
  margin-right: 10px;
}

.fill-level-bar {
  margin: 25px 0;
  width: 100%;
  border: 1px solid;
  height: 10px;
}

.fill-level {
  height: 100%;
}
